<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Blog</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <!-- Bootstrap core CSS -->
        <link href="/content/bootstrap.css" rel="stylesheet">
        <!-- Add custom CSS here -->
        <link href="/content/blog-post.css" rel="stylesheet">
        <link href="/content/site.css" rel="stylesheet">

    </head>
    <body>

        <div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">BlogProyecto

                </h1>
            </div>
        </div>
    </div>
</div>

        <header>
            <div class="content-wrapper">
                <div class="float-right">
                    
                    <nav class="navbar navbar-inverse " role="navigation">
                        <ul id="menu" class="nav navbar-nav">
                            <li>@Html.ActionLink("Blog", "Index", "Entrada")</li>
                            <li>@Html.ActionLink("Admin", "Entradas", "Admin")</li>
                        </ul>

                        <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>

                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - BlogProyecto | Designed by Oscar Jimenez</p>
                </div>
            </div>
        </footer>
         <script src="/Scripts/jquery-1.10.2.js"></script>
        <script src="/Scripts/JavaScript.js"></script>
        <script src="/Scripts/bootstrap.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>


