@model IEnumerable<BlogProyecto.Models.Entrada>

@{
    ViewBag.Title = "Index";
}
<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        <h4>Entradas</h4>
        <div class="table-responsive">
        
                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                 
                   <th>ID</th>
                    <th>FECHA</th>
                     <th>TITULO</th>
                      <th>CONTENIDO</th>
                       <th>ACTIVO</th>
                       <th>ACTIONS</th>

                   </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
    <td width="20">@Html.DisplayFor(modelItem => item.Id)</td>
    <td width="100">@Html.DisplayFor(modelItem => item.Fecha)</td>
    <td width="150">@Html.DisplayFor(modelItem => item.Titulo)</td>
    <td width="500">@Html.DisplayFor(modelItem => item.Contenido)</td>
    <td width="5">@Html.EditorFor(modelItem => item.Activo)</td>
    <td width="30"><p><a class="blanco" href="@Url.Action("EntradaDetails/"+item.Id, "Admin")"><button class="btn btn-primary btn-xs" ><span class='glyphicon glyphicon-file'></span></button></a>  <a class="blanco" href="@Url.Action("EntradaEdit/"+item.Id, "Admin")"><button class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-pencil"></span></button></a> <a class="blanco" href="@Url.Action("EntradaDelete/"+item.Id, "Admin")"><button class="btn btn-danger btn-xs" ><span class="glyphicon glyphicon-trash"></span></button></a></p></td>
    </tr>
    }
    </tbody>
        
</table>


<button type="button" class="btn btn-default">

    @Html.ActionLink("Create New", "CreateEntrada")

</button>

        </div>
	</div>
</div>

    </div>