@model PagedList.IPagedList<BlogProyecto.Models.Entrada>

@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc; 
@using PagedList; 

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="container">

    
        <div class="row">
             
   
            <div class="col-lg-8">
                @foreach (var item in Model) {
                    
                <div class="well">
                <h1> @Html.DisplayFor(modelItem => item.Titulo) </h1>
                <p class="text-muted">by Usuario |  <a href="index.php">Usuario</a> <span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(modelItem => item.Fecha)
                </p>
                <hr>
                @Html.Raw(item.Contenido)
                
                <hr>

                    

                
                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form" action="/comentario/create" method="post">
                        <div class="form-group">
                            <textarea name="Contenido" class="form-control" rows="3"></textarea>
                            <input type="hidden" name="EntradaId" class="form-control" value="@item.Id">
                            <input type="hidden" name="Fecha" class="form-control" value="@DateTime.Now">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>
                    <div>
                        @foreach (var comment in item.Comentarios.Reverse()) { 
                            if(comment.Activo){
                <div class="well">
                <h4>Usuario </h4>
                <p class="text-muted"><small>@Html.DisplayFor(modelItem => comment.Fecha)</small></p>
                <div class="comment">
                    <p>@Html.DisplayFor(modelItem => comment.Contenido)</p>
                    </div>
                            </div>
                        }
                    }
                    </div>
            </div>
                    }
                 @Html.PagedListPager( (IPagedList)Model, page => Url.Action("Index", new { page }) )

            </div>

        
           
    

            <div class="col-lg-4">
                <div class="well">
                    <h4>Blog Name</h4>
                    <p>@ViewBag.Blog.Nombre</p>
                    <hr />
                    <h4>Description</h4>
                    <p>@ViewBag.Blog.Detalle</p>
                    <!-- /input-group -->
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Blogger Information</h4>
                    <hr>
                    <div class="row">
                        
                            <h4>Nombre</h4>
                            <p>@ViewBag.Blogger.Nombre</p>
                            <h4>Biografia</h4>
                            <p>@ViewBag.Blogger.Biografia</p>
                            <h4>redes Sociales</h4>
                            <p>@ViewBag.Blogger.Redes</p>
                        
                    </div>
                </div>
                <!-- /well -->
                
            </div>
        </div>

        <hr>


    </div>





